.graph {
    /* height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
    row-gap: 20px;
    column-gap: 10px; */

}

/* 
.frame{
    height: calc(min(70vh,70vw));
    aspect-ratio: 1;
} */

.nodes {
    /* justify-items: center; */
    /* background-color: #53d133; */
    /* color: brown; */
    /* height: 2rem; */
    /* width: 2rem; */
    border: 1px solid rgb(188, 255, 255);
    
    /* border:1px solid #7b67d6; */
}



.centered-div {
    position: relative;
}

.dragBtns {
    position: fixed;
    left: 50px;
    display: grid;
    grid-template-rows: 1;
    position:absolute;
    left:-8vw;
    top:45%;
    row-gap: 1vh;
}

.dragBtns div{
    border-radius: 4px;
}
.dragBtns div:hover{
    border-radius: 4px;
}

.menu {
    width: 100%;
    padding-top: 4vh;
    margin-bottom: -5vh;

    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.btnRun {
    align-items: start;
    /* align-self:flex-start;  */
    /* width: 100%; */
}

.buttonClass {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}